body {
  background: #2676C4;
  color: #FDFDFD;
  font-family: typewritter;
}

header{
  color: #FDFDFD;
}

.poem-text{
  font-size: 17px;
}

.poem-title{
  margin-bottom: 30px;
  /* font-weight: bold; */
  font-size: 20px;
  letter-spacing: 0px;
  font-family: typewritter;
}
