body{
  background: white;
  color: black;
  font-family: typewritter;
}

header{
  color: black;
}

.poem-text{
  font-size: 27px;
  width: 75%;
   margin-bottom: 0;
}

.quote{
  font-style: italic;
   padding-left: 20px;
}

.writtenby{
  padding-top: 0;
}