body{
  padding : 15px;
  background: rgb(240, 240, 240);
  color:rgba(15, 14, 14, 0.86);
}

header{
  font-size:  12px;
}

.content{
 
  text-align: center;
  padding-top: 45px;
}

/* Poem */

.poem-title{
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 10px;
  font-family: typewritter;
}

.poem-text{
  text-align: left;
  width: 50%;
  margin: auto;
  padding-left: 15px;
  margin-top: 45px;
  border-left: 1px solid;
  margin-bottom: 40px;
}

.poem-text .columns .column{
  width: 50%;
  float: left;
}

.poem-text img{
  margin-top: 30px;
  width: 100%;
}
 
/* Footer */

.writtenby{
  text-align: right;
  width: 50%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-style: italic;
  font-size: 15px;
}

.controls{
  margin-top: 15px;
  width: 250px;
  margin: auto;
  text-align: center;
}

.controls .control{
  display: inline-block;
}

.control.prev, .control.next{
  cursor: pointer;
  text-decoration: underline;
}

/* Decorators */
.divisor {
  margin: 15px;
  border-bottom: 1px solid black;
}

.divisor.dashed{
  border-bottom: 1px dashed black;
}

/* Floaters */
.right{
  float: right;
}
.left{
  float: left;
}